
.story{

    width: 75%;
    margin: 0 auto;
    background-color: $color-white;
    border-radius: 3px;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    padding: 6rem;
    padding-left: 9rem;
    font-size: $default-font-size;
    transform: skewX(-12deg);

    &__shape{
        float: left;
        background: orangered;
        width: 15rem;
        height: 15rem;
        -webkit-shape : circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(12deg);
        position: relative;
    }

    &__text{
        transform: skewX(12deg);
    }
    
    &__image{
        height: 100%;
    }

    &__caption{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: $color-white;
        text-transform: uppercase;
        text-align: center;
        transition: all 0.5s ease;
        font-size: 1.7rem;
        backface-visibility: hidden;
        opacity: 0;
        z-index: 1;
    }

    &:hover &__caption{
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__image{
        filter: brightness(80%) blur(3px);
    }

}
